<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row justify-content-center">
    <div class="col-md-6">

        <form action="#"  th:action="@{/contatti/{id}/update}" method="post">
            <div>
                <label>Inserisci utente</label>
                <input type="text" th:field="*{utente}" class="form-control my-3"  placeholder="Utente">
                <span th:if="${#fields.hasErrors('utente')}" th:errors="*{utente}"></span>
            </div>
            <div>
                <label>Inserisci telefono</label>
                <input type="text" th:field="*{telefono}" class="form-control my-3"    placeholder="Telefono">
                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>

            </div>
            <button type="submit"   class="btn btn-primary btn-block my-3"><em>Aggiungi Contatto</em></button>


        </form>

        <p class="text-center mt-3">Se premi il bottone, si <em>Modifica</em> un contatto nella rubrica</p>
    </div>
</div>

</body>
</html>